{% extends 'base.html' %}
{% load socialaccount %}

{% block title %}Registro{% endblock %}

{% block content %}

<main class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body">
                    <h2 class="text-center mb-4 fw-bold text-primary">Crear una cuenta</h2>
                    {{ error }}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label fw-semibold">Nombre de usuario:</label>
                            <input type="text" name="username" class="form-control border-primary" id="username" placeholder="Ingrese su usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="password1" class="form-label fw-semibold">Contraseña:</label>
                            <input type="password" name="password1" class="form-control border-primary" id="password1" placeholder="Ingrese una contraseña" required>
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label fw-semibold">Confirmar contraseña:</label>
                            <input type="password" name="password2" class="form-control border-primary" id="password2" placeholder="Confirme su contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2">
                            Registrarse
                        </button>
                    </form>
                    <!-- <div class="mt-4 text-center">
                        <p class="mb-2">O regístrate con:</p>
                        <a href="{% provider_login_url 'google' %}?next={{ request.GET.next|default:'/' }}" class="btn btn-outline-danger w-100 d-flex align-items-center justify-content-center">
                            <i class="fab fa-google me-2"></i> Continuar con Google
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="text-center mt-3">
                <p>¿Ya tienes una cuenta? <a href="{% url 'signin' %}" class="text-primary fw-semibold">Inicia sesión</a></p>
            </div>
        </div>
    </div>
</main>

<!-- Agregar íconos con FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}
